.recentChats {

    background: #1a1a1a;

    border-radius: 22px;

    padding: 25px;

    height: 100%;

}

.chatHeader {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;

}

.chatHeader h2 {

    color: white;

}

.chatHeader span {

    color: #fffc00;

    font-weight: 600;

    cursor: pointer;

}

.chatRow {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px 0;

    border-bottom: 1px solid #2a2a2a;

    transition: .3s;

}

.chatRow:hover {

    padding-left: 8px;

}

.chatLeft {

    display: flex;

    align-items: center;

    gap: 15px;

}

.chatLeft img {

    width: 55px;

    height: 55px;

    border-radius: 50%;

    border: 3px solid #fffc00;

    object-fit: cover;

}

.chatLeft h4 {

    color: white;

    margin-bottom: 5px;

}

.chatLeft p {

    font-size: 14px;

}

.chatRow button {

    width: 42px;

    height: 42px;

    border: none;

    border-radius: 50%;

    background: #2a2a2a;

    color: white;

    cursor: pointer;

    transition: .3s;

}

.chatRow button:hover {

    background: #fffc00;

    color: black;

}

.chatRow {
    cursor: pointer;
    transition: 0.3s ease;
}

.chatRow:hover {
    background: #262626;
    transform: translateX(4px);
}

.chatHeader span {
    cursor: pointer;
    transition: 0.3s;
}

.chatHeader span:hover {
    color: #fffc00;
}