.quickActions{

background:#1a1a1a;

border-radius:22px;

padding:25px;

}

.quickActions h2{

color:white;

margin-bottom:20px;

}

.actionRow{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 0;

border-bottom:1px solid #2b2b2b;

cursor:pointer;

transition:.3s;

}

.actionRow:last-child{

border:none;

}

.actionRow:hover{

padding-left:10px;

}

.actionLeft{

display:flex;

align-items:center;

gap:15px;

}

.actionIcon{

width:42px;

height:42px;

background:#222;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:18px;

}

.actionLeft p{

color:white;

font-size:17px;

}

.arrow{

color:#999;

transition:.3s;

}

.actionRow:hover .arrow{

color:#fffc00;

transform:translateX(5px);

}

.actionRow{width:100%;border:0;background:transparent;text-align:left;cursor:pointer;}
