.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.searchBox{

width:60%;

height:60px;

background:#1b1b1b;

border-radius:40px;

display:flex;

align-items:center;

padding:0 25px;

}

.searchIcon{

color:#888;

font-size:22px;

margin-right:15px;

}

.searchBox input{

background:transparent;

border:none;

outline:none;

color:white;

font-size:18px;

width:100%;

}

.headerRight{

display:flex;

align-items:center;

gap:18px;

}

.icon{

width:50px;

height:50px;

border-radius:50%;

background:#1b1b1b;

display:flex;

justify-content:center;

align-items:center;

color:white;

position:relative;

cursor:pointer;

font-size:20px;

}

.icon span{

position:absolute;

top:-5px;

right:-5px;

width:22px;

height:22px;

border-radius:50%;

background:#fffc00;

color:black;

font-size:12px;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.profile img{

width:52px;

height:52px;

border-radius:50%;

}

.profile h4{

color:white;

}

.profile p{

color:#aaa;

font-size:14px;

}

.notification{
    position:relative;
}

.notificationBox{
    position:absolute;
    top:60px;
    right:0;
    width:260px;
    background:#1f1f1f;
    color:white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
    z-index:9999;
}

.notificationBox p{
    margin:8px 0;
    font-size:14px;
}

.icon{
    position:relative;
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#222;
    color:white;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

.icon:hover{
    background:#333;
}