.signup-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.signup-card{
    width:350px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.signup-card input,
.signup-card button{
    padding:12px;
}